{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

<article{{ attributes }}>
  <div class="card border-primary mb-3">
    <div class="card-header"><h2 class="title-product">{{- product.title -}}</h2></div>
    <div class="text-center">
      {{- product.field_photo -}}
    </div>
    {{- product.field_tags -}}
    <div class="card-body">
      <div class="row">
        <div class="col-md-5">Код:</div>
        <div class="col-md-5"><strong class="text-success">{{- product.field_code -}}</strong></div>
        <div class="col-md-2">И</div>
      </div>

      <div class="row">
        <div class="col-md-5">Артикул:</div>
        <div class="col-md-5">{{- product.variation_field_vendor_code -}}</div>
        <div class="col-md-2">C</div>
      </div>


      {{- product.variation_field_code_stock -}}
      <strong>{{- product.variation_field_stock -}}</strong>
    </div>
    <div class="card-footer text-center">
      {{- product.variation_price -}}
      {{- product.variations -}}
      <div class="row">
        <div class="col-sm-6 col-md-6 text-uppercase"><strong>{{- product.flag_compare -}}</strong></div>
        <div class="col-sm-6 col-md-6 text-uppercase"><strong>{{- product.flag_favorite -}}</strong></div>
      </div>
    </div>
  </div>
</article>
