{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

<article{{ attributes }}>
  <div class="card border-light rounded shadow mb-3">
    <div class="card-header"><h2 class="title-product">{{- product.title -}}</h2></div>
    <div class="text-center">
      {{- product.field_photo -}}
    </div>
    {{- product.field_tags -}}
    <div class="card-body">
      <div class="row">
        <div class="col-8 col-md-8 col-xl-7">
          <div class="row">
            <div class="col-4 col-md-4 col-xl-5"><span class="wrapper_code py-1 px-0">Код:</span></div>
            <div class="col-8 col-md-8 col-xl-7"><strong class="text-success">{{- product.field_code -}}</strong></div>
          </div>
          <div class="row">
            <div class="col-4 col-md-4 col-xl-5"><span class="wrapper_code">Арт:</span></div>
            <div class="col-8 col-md-8 col-xl-7 text-truncate">{{- product.variation_field_vendor_code -}}</div>
          </div>
        </div>
        <div class="col-4 col-md-4 col-xl-5 text-right">
          <div class="btn-group" role="group" aria-label="Basic example">{{- product.flag_favorite -}}{{- product.flag_compare -}}</div>
        </div>

{#          {{- product.rate_rate_product -}}#}

        <div class="col-12 text-center">
          <strong>

            {% set stock_level = product.variation_field_stock|render|striptags %}
            {% set nowDate = "now"|date('H:i:s') %}
            {% set endDate = "now"|date('13:00:00') %}
            {% set weekDay = "now"|date('w') %}


            {% if weekDay == 0 %}
              {% set inst = 1 %}
              {% set pzk = 2 %}
            {% elseif weekDay == 4 %}
              {% set inst = 0 %}
              {% set pzk = 3 %}
            {% elseif weekDay == 5 %}
              {% set inst = 2 %}
              {% set pzk = 3 %}
            {% elseif weekDay == 6 %}
              {% set inst = 1 %}
              {% set pzk = 2 %}
            {% else %}
              {% set inst = 0 %}
              {% set pzk = 1 %}
            {% endif %}

            {% if stock_level > 0 %}
              <div class = "text-success">В наличии
                  {% if logged_in %}
                    ({{ stock_level }})
                  {% endif %}
                </div>
              {% if nowDate > endDate %}
                <div class="">Доставим {{ "now"|date_modify("+#{inst+1} day")|date("d.m.Y") }}</div>
              {% else %}
                <div class="">Доставим {{ "now"|date_modify("+#{inst} day")|date("d.m.Y") }}</div>
              {% endif %}
            {% else %}
              <div class = 'text-warning'>Под заказ
                  {% if logged_in %}
                    ({{ stock_level }})
                  {% endif %}
                </div>
              {% if nowDate > endDate %}
                <div>Доставим {{ "now"|date_modify("+#{pzk+2} day")|date("d.m.Y") }}</div>
              {% else %}
                <div>Доставим {{ "now"|date_modify("+#{pzk+1} day")|date("d.m.Y") }}</div>
              {% endif %}
            {% endif %}

          </strong>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      {{- product.variation_price -}}
      <div class="row">
        <div class="col-12 mb-2">{{- product.variations -}}</div>
      </div>
      {{- product.variation_field_code_stock -}}
    </div>
  </div>
</article>
