{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}

<article{{ attributes }}>
  <div class="row">

  </div>
  <div class="row">
    <div class="col-md-5">
      {#      <div class="row text-center">#}
      {#        <div class="col-sm-6 col-md-6 text-uppercase"><strong>{{- product.flag_compare -}}</strong></div>#}
      {#        <div class="col-sm-6 col-md-6 text-uppercase"><strong>{{- product.flag_favorite -}}</strong></div>#}
      {#      </div>#}
      <div class="text-center barder border-2 border-primary p-3 shadow">
        {{- product.field_photo -}}
      </div>
      {{- product.field_tags -}}
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="">{{- product.field_code -}}</div>
          <div class="">{{- product.variation_field_vendor_code -}}</div>
          {{- product.variation_field_barcode -}}
{#          <div class="">{{- product.field_catalog -}}</div>#}
          <div class="">{{- product.field_brand -}}</div>
          <div class="">{{- product.field_country -}}</div>
          {{- product.field_rating -}}
          {{- product.variation_field_code_stock -}}
        </div>
        <div class="col-md-6">
          <div class="barder border-2 border-primary p-3 shadow">
            <div class="full-product-price">{{- product.variation_price -}}</div>
            {{- product.variations -}}
            <strong> {{- product.variation_field_stock -}} </strong>
            <div class="">{{- product.variation_qty_increments -}}</div>
            <div class="">{{- product.field_package -}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 mb-3">

    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Описание</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Характеристики</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Доставка</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">{{- product.body -}}</div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">{{- product.field_property -}}</div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <p><strong>Доставка</strong></p>

        <strong>Условия и сроки </strong>
        <p class="rtejustify">Доставка по городам Крыма осуществляется курьерской службой "до дверей" (макс. масса 200 кг)</p>
        <p class="rtejustify">Доставка по Симферополю производится курьерской службой на следующий рабочий день после оплаты (при наличии товара на складе). При заключении договора на поставку возможна отсрочка платежа до 10 дней.<strong> </strong></p>
        <p class="rtejustify">Доставка по городам Республики Крым и городу Севастополю производится по расписанию (детальное расписание можно узнать по телефону).</p>

        <strong>Стоимость доставки</strong>
        <p class="rtejustify">При сумме заказа 3000 руб. и более, доставка по г. Симферополю осуществляется <u><strong>бесплатно.</strong></u><strong> </strong></p>
        <p class="rtejustify">При сумме заказа менее 3000 руб. стоимость доставки по г. Симферополю составляет <u><strong>300 р.</strong></u></p>
        <p class="rtejustify">При сумме заказа 5000 руб. и более, доставка в города Крыма осуществляется <u><strong>бесплатно.</strong></u><strong> </strong></p>
        <p class="rtejustify">При сумме заказа менее 5000 руб. стоимость доставки в города Крыма составляет <u><strong>500 р.</strong></u> (макс. масса 200 кг.)</p>
        <p class="rtejustify">Доставка заказов массой более 200 кг в города Крыма <strong>рассчитывается в индивидуальном порядке.</strong></p>
      </div>
    </div>

    <div class="col-sm-12">

    </div>
    <div class="col-sm-12">

    </div>
  </div>
</article>

